{% extends 'base/base.html' %}
{% load static %}

{% block main %}
  <link rel="stylesheet" href="{% static 'groceries/groceries.css' %}">
  <script src="{% static 'groceries/groceries.js' %}"></script>

  <h1 class="header">Einkausliste</h1>
  <div class="page">
    <div class="paper">
      <ul id="list">
        {% for item in items %}
          <li
            href="/"
            class="active"
          >{{ item.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <button>
      <i class="fa-solid fa-square-plus"></i>
    </button>
  </div>
{% endblock %}
