.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.paper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: auto;
    background-color: #f8f88a;
    height: 70%;
    width: 50%;
    padding: 2rem;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: circle;
    list-style-position: inside;
}

.finished {
    color: grey;
    text-decoration: line-through;
}
