.page {
    display: flex;
    height: 100%;
}

.list {
    margin: auto;
    background-color: #f8f88a;
    height: 70%;
    width: 50%;
    padding: 2rem;
}

.bullets {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
