.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1rem;
}

.paper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 1.5rem auto;
    background-color: #f8f88a;
    height: 80%;
    width: 70%;
    padding: 2rem;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: circle;
    list-style-position: inside;
}

.finished {
    color: grey;
    text-decoration: line-through;
}

.button-container {
    display: flex;
    justify-content: end;
}

.grocery-icon-button {
    height: fit-content;
    width: fit-content;    
    padding: 0.7rem;
    border-radius: 0.5rem;
    background: var(--primary-gradiant);
}

.grocery-icon {
    font-size: 1.7rem;
    width: 100% !important;
    color: white;
    background: transparent;
    margin: 0;
}
