@font-face {
  font-family: 'Playwrite IN';
  src: local('Playwrite IN'),
    url('/static/libs/fonts/PlaywriteIN/PlaywriteIN-VariableFont_wght.ttf') format("truetype");
}
@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'),
    url('/static/libs/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format("truetype");
}


:root {
  --primary-color: #14533d;
  --primary-gradiant: radial-gradient(
    circle,
    rgba(28, 133, 95, 1) 0%,
    rgba(20, 83, 61, 1) 73%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  /* main footer */
  grid-template-rows: 1fr 4rem;
}

button {
  border: none;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  background-image: var(--primary-gradiant);
  padding: 0.2rem;
  text-align: center;
  color: white; 
  font-size: 1.8rem;
  font-family: "Playwrite IN", cursive;
  font-weight: bold;
  font-style: normal;
}

.main-button {
  border: 1px solid black;
  width: 100%;
  color: white; 
  padding: 0.8rem;
  border-radius: 0.2rem;  
  font-size: 1.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: var(--primary-gradiant);
}

.no-link-style {
  text-decoration: none;
}
