:root {
  --primary-color: #14533d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  /* header main footer */
  grid-template-rows: 1fr 4rem;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--primary-color);
  padding: 0.2rem;
  text-align: center;
  color: white; 
}

.main-button {
  border: 1px solid black;
  width: 6rem;
  background-color: var(--primary-color);
  color: white; 
}